<div class="container">
  <h3> Curriculum </h3>
  <form [formGroup]="curriculumForm" (ngSubmit)="enviarCurriculum()">
    <div class="row">
      <label for="nombre" class="col-2"> Nombre: </label> <input id="nombre" class="col-3" type="text"
        formControlName="nombre">
    </div>

    <div class="row">
      <select class="col-3" formControlName="genero" name="genero" id="genero">
        <option *ngFor="let genero of generos" value="{{ genero.id }}"> {{ genero.descripcion }}</option>
      </select>
    </div>

    <div class="row">
      <label for="email" class="col-2"> email: </label> <input id="email" class="col-3" type="text"
        formControlName="email">
    </div>

    <div class="row">
      <label class="col-2"> Apodo: </label> <input class="col-3" type="text" formControlName="apodo">
    </div>
    <br>
    <div class="row">
      <button type="submit" [disabled]="!curriculumForm.valid" class="col-2 offset-1 btn btn-primary">Guardar</button>
      <button (click)="limpiarCampos()" class="col-2 offset-1 btn btn-danger">Borrar</button>
    </div>

    Form: {{ curriculumForm.status }}
  </form>
</div>